@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="card-body"  >
          <div class="card">
            <div class="card-header"><h2>OpenShift Red Hat</h2></div>
            <div class="card-body">
              <p class="card-text">OpenShift, formalmente llamado Openshift Container Platform (OCP), es un producto de computación en la nube de plataforma como servicio de Red Hat.</p>
              <p class="card-text">Los desarrolladores pueden usar Git para desplegar sus aplicaciones Web en los diferentes lenguajes de la plataforma.
                Soporta programas binarios que sean aplicaciones Web, con tal de que se puedan ejecutar en RHEL Linux. Esto permite el uso de lenguajes arbitrarios y frameworks.
                OpenShift se encarga de mantener los servicios subyacentes a la aplicación y la escalabilidad de la aplicación como se necesite.</p>
            </div>
            <img src="https://1.cms.s81c.com/sites/default/files/2020-10-06/create-openshift-cluster.png" class="card-img-bottom" height="500 px">
          </div>        

    </div>